@import "./../../../../styles/variables";
.section {
  padding-top: 3rem;
  @media (max-width: 767px) {
    padding-top: 0.5rem;
  }
}
.section-text {
  padding: 1rem 2rem 1rem 20%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: Roboto;

  @media (max-width: 992px) {
    padding: 5rem 3rem 5rem 12%;
  }
  @media (max-width: 767px) {
    padding: 3rem 3rem 3rem 8%;
    gap: 1rem;
  }
  @media (max-width: 457px) {
    padding: 1rem 0rem 1.5rem 1%;
  }
  .our-aim-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    @media (max-width: 457px) {
      flex-direction: column;
    }
    .about-aim {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      @media (max-width: 457px) {
        gap: 0.3rem;
      }
    }
    @media (max-width: 457px) {
      flex-direction: column;
    }
  }
}
.about-img {
  width: 100%;
  height: 100%;
  min-height: 35vh;
  background-image: url(../../../../assets/images/aboutus-img.png);
  background-size: 100% 100%;
}
