@import './variables';
@mixin container{
    padding:0% 12%;
    @media(max-width: 992px){
      padding:0% 6%;
   }
    @media(max-width: 767px){
       padding:0% 5%;
    }
    @media(max-width: 567px){
       padding:0% 2%;
    }
 }
 @mixin butn{
      font-family: 'Orbitron', sans-serif;
         width:fit-content;
         color: #fff;
         background: $primary;
         padding: 4px 16px;
         border-radius: 4px;
         &:hover{
            background: $secondry;
            transition: all 0.3s ease-in;
         }
          @media (max-width:457px ){
              padding: 3px 12px;
          }
 }
 @mixin title{
   padding: 4rem 0rem;
   margin-top: 8rem;
   text-align: center;
   font-size: 40px;
   font-weight: 600;
   text-decoration: underline 5px solid $secondry;
   text-underline-offset: 10px;
   font-family: Roboto;
   @media (max-width: 767px) {
     padding: 2rem 0rem;
     font-size: 24px;
     font-weight: 500;
   }
 }