@font-face {
    font-family: "Roboto";
    src:local('Roboto'), url("../assets/roboto/Roboto-Regular.woff") format('woff'), ;
    font-weight:normal;
  }
  @font-face {
    font-family: "Plus Jakarta Sans";
    src:local('Plus Jakarta Sans'), url("../assets/plus-jakarta-sans/static/PlusJakartaSans-Regular.woff") format('woff');
    font-weight:normal;
  }
    @font-face {
    font-family: "Akshar";
    src:local('Akshar'), url("../assets/Akshar/static/Akshar-Regular.woff") format('woff');
    font-weight:normal;
  }