@import url('./../../../styles/fonts.scss');
@import "../../../styles/variables";
h1.title{
    padding: 4rem 0rem;
    margin:8rem 0rem 0rem 0rem;
    text-align: center;
    color: $textsecondry;
    font-family: "Akshar";
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    position: relative;
    @media (max-width: 767px) {
      padding: 2rem 0rem;
      font-size: 24px;
      font-weight: 500;
    }

    &::after {
        content: "";
        width: 6%;
        height: .15em;
        background-color:$secondry;
        position: absolute;
        bottom: 3.5rem;
        left:47%;
        border-radius: 3px;
        @media (max-width:1152px) {
            width: 8%;         
        }
        @media (max-width:767px) {
            width: 8%;
            height: .2em;
            bottom: 1.7rem;
            left:46%;
        }
      }
  } 