@import "./../../../../styles/variables";
@import "./../../../../styles/fonts";
.whyus-section {
  width: 100%;
  min-height: 35vh;
  background-image: url(../../../../assets/images/hero-bg.png);
  background-size: 100% 100%;
}
.why-us-section-text {
  padding: 4rem 2rem 4rem 20%;
  @media (max-width: 767px) {
    padding: 2rem 1rem 2rem 1rem;
  }
  @media (max-width: 457px) {
    padding: 2rem 0.5rem 3rem 0.5rem;
  }
}
.our-process-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
  @media (max-width: 457px) {
    flex-direction: column;
    gap: 2rem;
  }
  .our-process {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.8rem;
    @media (max-width: 457px) {
      max-width: 250px;
      margin: auto;
      padding: 12px;
      border-radius: 8px;
      border: 1px solid #ece7e7;
      box-shadow: 0 6px 15px rgba(34, 22, 93, 0.2);
    }
    .our-process-title {
      color: #000;
      font-family:"Roboto";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      text-decoration: underline 2px solid $secondry;
      text-underline-offset: 7px;
    }
    .our-process-pera {
      color: $textprimary;
      font-family: "Plus Jakarta Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
    .our-process-img {
      img {
        max-width: 100px;
      }
    }
  }
}

.why-us-img {
  width: 100%;
  height: 100%;
  min-height: 35vh;
  background-image: url(../../../../assets/images/why-us-img.png);
  background-size: 100% 100%;
}
