.trustedby-section {
  min-height: 35vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 4em 5rem;
  gap: 0.5rem;
  @media (max-width: 767px) {
    justify-content: center;
    padding: 2em 0.5rem;
  }
  .trustedby-card {
    min-width: 210px;
    height: 115px;
    display: flex;
    text-align: center;
    align-items: center;
    border: 2px solid #e9edeeae;
    border-radius: 5px;
    .trustedby-card-img {
      width: 100%;
    }
  }
}
