@import "./../../../../styles/variables";
@import "./../../../../styles/fonts";
.testimonials-section {
  background-image: url("./../../..//../assets/images/testimonials-bg.png");
  background-size: 100% 100%;
  padding: 0rem 0.5rem 4rem 0.5rem;
  margin-top: 5rem;
  .testimonilas-holder {
    margin: auto;
    box-shadow: 0 9px 15px rgba(28, 12, 110, 0.2);
  }
  .testimonials-card {
    padding: 4rem;
    background: #fff;
    border: 1px solid $primary;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    box-shadow: 0 6px 15px rgba(34, 22, 93, 0.2);
    @media (max-width: 767px) {
      flex-direction: column;
      padding: 2rem;
      gap: 0.5rem;
    }
    @media (max-width: 467px) {
      padding: 2rem 0.5rem;
      gap: 0.5rem;
    }
    .reviewer-details {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 0.7rem;
      min-width: 185px;
      .reviewer-img {
        width: 120px;
        height: 120px;
        margin: auto;
        img {
          width: 100%;
        }
      }
      .reviewer-name {
        color: $primary;
        font-size: 24px;
        font-weight: 700;
        font-family: "Plus Jakarta Sans";
      }
      .reviewer-designation {
        color: #9fa3a9;
        font-size: 16px;
        font-weight: 600;
        font-family: "Plus Jakarta Sans";
      }
    }
    .review {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-bottom: 3px solid $primary;
      border-image: linear-gradient(to left, $secondry 150px, transparent 100px)
        100% 1;

      @media (max-width: 467px) {
        padding: 1.5rem 0.5rem;
        gap: 0.5rem;
      }
      .review-text {
        color: $textprimary;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        font-family: "Plus Jakarta Sans";
      }
    }
  }
}
