body {
  margin: 0;
  @font-face {
    font-family: "Akshar";
    src: url("./assets/akshar/static/Akshar-Medium.ttf");
    font-weight:medium;
  }
  @font-face {
    font-family: "Roboto";
    src: url("./assets/roboto/Roboto-Regular.ttf");
    font-weight:medium;
  }
  @font-face {
    font-family: "Plus Jakarta Sans";
    src: url("./assets/plus-jakarta-sans/static/PlusJakartaSans-Regular.ttf");
    font-weight:normal;
  }
  font-family:"Akshar";

}

code {
  font-family:Akshar;
}
