@import "./../../../styles/variables";
footer {
  background: $primary;
  display: flex;
  flex-direction: column;
  padding: 2rem 9rem 0.5rem 9rem;
  @media (max-width: 767px) {
    padding: 2rem 0.5rem;
  }
  .copyright {
    color: #f5f5f5;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-top: 0.5rem;
  }
}
.footer-section {
  border-bottom: 2px solid #f8f5f53f;
  background: $primary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0rem;
  gap: 2.5rem;
  .footer-content-div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @media (max-width: 997px) {
      gap: 0.7rem;
    }
    .footer-icon-holder {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      .footer-icon {
        padding: 6px;
        border-radius: 6px;
        line-height: 0;
        border: 1px solid #fff;
        .fa {
          font-size: 18px;
          font-weight: 800;
          color: #fff;
        }
      }
    }

    .footer-contact-title {
      color: #f5f5f5;
      font-size: 16px;
      font-weight: 600;
    }
    input {
      border: 1px solid #ffffff;
      border-radius: 5px;
      outline: none;
      color: #fff !important;
      background: #ffffff00;
      &::placeholder {
        color: rgb(255, 255, 255);
        opacity: 1;
      }
    }

    button {
      color: $primary;
      font-size: 16px;
      font-weight: 600;
      width: fit-content;
      background: #f5f5f5;
      padding: 4px 14px 4px 14px;
      height: auto;
      @media (max-width: 997px) {
        font-size: 13px;
      }
    }
  }
  .footer-content-div-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    @media (max-width: 997px) {
      flex-direction: column;
      gap: 0rem;
      .ant-btn-link {
        text-align: start;
        padding: 0px;
        font-size: 13px !important;
      }
    }
    .ant-btn-link {
      color: #f5f5f5;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
